<div class="container">
    <div class="row">
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">bulbasaur</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ivysaur</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">venusaur</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">charmander</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">charmeleon</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">charizard</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">squirtle</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">wartortle</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">blastoise</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">caterpie</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">metapod</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">butterfree</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">weedle</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">kakuna</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">beedrill</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">pidgey</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">pidgeotto</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">pidgeot</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">rattata</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">raticate</h5>
                </div>
            </div>
        </div>
    </div>
</div>